<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POSTHTX</title>
    <link rel="stylesheet" href="css/fullpage.css">
    <link rel="stylesheet" href="https://use.typekit.net/ihh3pzc.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
    <script src="js/scrolloverflow.js"></script>
    <script src="js/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

<div id="app">
    <div>
        <div class="logo" :class="{layer:isBottom,layer2:!isBottom}">
            <a href="https://posthtx.com" title="POST Houston">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378 114.49" class="logo-svg"
                     :class="sectionIndex>0?'logo-svg-small':''">
                    <defs></defs>
                    <title>POST</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Animation">
                            <g id="post_0" data-name="POST Logotype Blue">
                                <path class="cls-1"
                                      d="M291.13,14.58h36.53v97.61h13.81V14.58H378V2.46H291.13Zm-42.35,99.76c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.93-40.82-34.22-16.43-3.23-28.7-6.91-28.7-19.34,0-11.36,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14.27,271.49.31,244,.31c-22.25,0-37.29,10.89-37.29,29,0,20.72,16.57,26.25,35.91,30.54,19.64,4.3,32.84,7.83,32.84,22.87,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-108.51-12c-25.78,0-39.59-19.34-39.59-45.12S114.49,12,140.27,12s39.6,19.49,39.6,45.28-13.81,45.12-39.6,45.12m0,12.12c33.15,0,53.72-24.4,53.72-57.24S173.42,0,140.27,0,86.56,24.4,86.56,57.25s20.56,57.24,53.71,57.24M13.81,14.43H43.43c14,0,22.1,6.9,22.1,20.1,0,12.59-7.36,20.41-22.87,20.41H13.81ZM0,112.19H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6.29,57.24,2.46,45.73,2.46H0Z"></path>
                            </g>
                            <g id="post_1" style="display:none">
                                <path class="cls-1" d="M142.49,22h-4V9.12h4Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_2" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm23.58-5.47-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_3" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm40.37,12.78-2-3.45-11.65,6.72,2,3.44ZM166.07,16.57l-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_4" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4ZM188.31,55H174.42v4h13.89Zm-5.45-20.14-2-3.45-11.65,6.72,2,3.44ZM166.07,16.57l-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_5" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4ZM188.31,55H174.42v4h13.89Zm-5.45-20.14-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7Zm-16.8-62.5-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_6" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4ZM188.31,55H174.42v4h13.89ZM166.07,97.32,159,85l-3.44,2,7.1,12.31Zm16.79-62.5-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7Zm-16.8-62.5-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_7" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm0,68.53h-4v14.18h4ZM188.31,55H174.42v4h13.89ZM166.07,97.32,159,85l-3.44,2,7.1,12.31Zm16.79-62.5-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7Zm-16.8-62.5-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_8" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm0,68.53h-4v14.18h4ZM188.31,55H174.42v4h13.89ZM166.07,97.32,159,85l-3.44,2,7.1,12.31Zm16.79-62.5-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7ZM125.3,87.29l-3.44-2-6.93,12,3.44,2Zm40.77-70.72-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_9" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm0,68.53h-4v14.18h4ZM188.31,55H174.42v4h13.89ZM166.07,97.32,159,85l-3.44,2,7.1,12.31ZM111.86,75.75l-2-3.45L98.13,79.07l2,3.45Zm71-40.93-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7ZM125.3,87.29l-3.44-2-6.93,12,3.44,2Zm40.77-70.72-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_10" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm0,68.53h-4v14.18h4ZM188.31,55H174.42v4h13.89Zm-82.39,0H92.68v4h13.24Zm60.15,42.36L159,85l-3.44,2,7.1,12.31ZM111.86,75.75l-2-3.45L98.13,79.07l2,3.45Zm71-40.93-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7ZM125.3,87.29l-3.44-2-6.93,12,3.44,2Zm40.77-70.72-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_11" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm0,68.53h-4v14.18h4ZM188.31,55H174.42v4h13.89Zm-82.39,0H92.68v4h13.24Zm60.15,42.36L159,85l-3.44,2,7.1,12.31ZM111.86,75.75l-2-3.45L98.13,79.07l2,3.45Zm71-40.93-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7ZM111.28,37.81l-11.16-6.43-2,3.44,11.17,6.44Zm14,49.48-3.44-2-6.93,12,3.44,2Zm40.77-70.72-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                            <g id="post_12" style="display:none">
                                <path class="cls-1"
                                      d="M142.49,22h-4V9.12h4Zm0,68.53h-4v14.18h4ZM188.31,55H174.42v4h13.89Zm-82.39,0H92.68v4h13.24Zm60.15,42.36L159,85l-3.44,2,7.1,12.31ZM124.76,25.66l-6.39-11.08-3.44,2,6.38,11.08Zm-12.9,50.09-2-3.45L98.13,79.07l2,3.45Zm71-40.93-2-3.45-11.65,6.72,2,3.44Zm0,44.25-12.23-7-2,3.44,12.22,7ZM111.28,37.81l-11.16-6.43-2,3.44,11.17,6.44Zm14,49.48-3.44-2-6.93,12,3.44,2Zm40.77-70.72-3.45-2L156.07,26l3.45,2Z"></path>
                                <path class="cls-1"
                                      d="M291.13,14.27h36.53v97.61h13.81V14.27H378V2.15H291.13ZM248.78,114c23.63,0,40.36-11.51,40.36-32.08,0-24.71-19.49-29.92-40.82-34.22-16.43-3.22-28.7-6.91-28.7-19.34,0-11.35,9.82-17.65,24.71-17.65,16.11,0,26.24,7.83,28.23,23.48h13.05C282.85,14,271.49,0,244,0c-22.25,0-37.29,10.9-37.29,29,0,20.71,16.57,26.24,35.91,30.54,19.64,4.29,32.84,7.82,32.84,22.86,0,13.66-10.9,20.57-26.09,20.57-20.72,0-32.08-9.67-33.92-28.24H202c1.23,22.1,16,39.29,46.81,39.29m-235-99.91H43.43c14,0,22.1,6.91,22.1,20.1,0,12.59-7.36,20.42-22.87,20.42H13.81ZM0,111.88H13.81v-46H43.74c23.94,0,35.45-12.13,35.45-32.23a31.65,31.65,0,0,0-7.37-20.87C66.15,6,57.24,2.15,45.73,2.15H0Z"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="menu" @click="changeSideBarStatus()">
            <img src="image/icons/menu.svg" alt="menu">
        </div>
        <div id="fullpage">
            <!--section0-->
            <div class="section active" id="section0">
                <div class="section0-contain">
                    <div class="slide active slide-img-contain">
                        <img class="slide-img" src="image/demoimg/image_03.jpg" alt="" @mouseover="showArrow()" @mouseout="hideArrow()">
                        <p class="slide-title">Downtown Houston's hub for culture, food, shopping, and recreation. Read the
                            latest news.</p>
                    </div>
                    <div class="slide slide-img-contain">
                        <img class="slide-img" src="image/demoimg/image_04.jpg" alt="" @mouseover="showArrow()" @mouseout="hideArrow()">
                        <p class="slide-title">Downtown Houston's hub for culture, food, shopping, and recreation. Read the
                            latest news.</p>
                    </div>
                    <div class="slide slide-img-contain">
                        <img class="slide-img" src="image/demoimg/image_05.jpg" alt="" @mouseover="showArrow()" @mouseout="hideArrow()">
                        <p class="slide-title">Downtown Houston's hub for culture, food, shopping, and recreation. Read the
                            latest news.</p>
                    </div>
                    <div class="pre" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(0)"></div>
                    <div class="next" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(1)"></div>
                </div>
            </div>

            <!--section1 mobile-->
            <div class="section" id="section1mobile" v-if="isMobile">
                <div class="slide active slide-img-contain">
                    <div class="section1-contain">
                        <div class="section1-div section1-div-mob" style="background-color: #F54544;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section1-contain">
                        <div class="section1-div section1-div-mob" style="background-color: #36574d;">
                            <p>Houston's largest green roof will host an innovative, five acre rooftop farm. Produce from
                                the farm is served in restaurants throughout POST. The first harvest is anticipated in the
                                summer of 2021.</p>
                            <div class="section1-div-title">FARM</div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section1-contain">
                        <div class="section1-div section1-div-mob" style="background-color: #c6f5bc;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section1-contain">
                        <div class="section1-div section1-div-mob" style="background-color: #F54544;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--section1 web-->
            <div class="section" id="section1" v-else>
                <div class="slide active slide-img-contain">
                    <div class="section1-contain" >
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #F54544;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #A47009;">
                            <p>Houston's largest green roof will host an innovative, five acre rooftop farm. Produce from
                                the
                                farm is served in restaurants throughout POST. The first harvest is anticipated in the
                                summer
                                of 2021.</p>
                            <div class="section1-div-title">FARM</div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section1-contain">
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #1e1f1f;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #36574d;">
                            <p>Houston's largest green roof will host an innovative, five acre rooftop farm. Produce from
                                the
                                farm is served in restaurants throughout POST. The first harvest is anticipated in the
                                summer
                                of 2021.</p>
                            <div class="section1-div-title">FARM</div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section1-contain">
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #c6f5bc;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #305053;">
                            <p>Houston's largest green roof will host an innovative, five acre rooftop farm. Produce from
                                the
                                farm is served in restaurants throughout POST. The first harvest is anticipated in the
                                summer
                                of 2021.</p>
                            <div class="section1-div-title">FARM</div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section1-contain">
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #F54544;">
                            <p>Featuring food, drinks, and groceries from vendors local to Houston and beyond.</p>
                            <div class="section1-div-title">POST MARKET</div>
                        </div>
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="section1-div" style="background-color: #A47009;">
                            <p>Houston's largest green roof will host an innovative, five acre rooftop farm. Produce from
                                the
                                farm is served in restaurants throughout POST. The first harvest is anticipated in the
                                summer
                                of 2021.</p>
                            <div class="section1-div-title">FARM</div>
                        </div>
                    </div>
                </div>
                <div class="pre" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(0)"></div>
                <div class="next" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(1)"></div>
            </div>

            <!--section2-->
            <div class="section" id="section2">
                <div class="slide active slide-img-contain">
                    <div class="section2-contain" :class="{section2ContainPhone:isPhone}">
                        <div v-if="isPhone || isPhoneLandscape">
                            <div class="section2-item-phone">
                                <div class="event-img-contain">
                                    <img class="event-img" src="image/demoimg/event_demo.png" alt="event">
                                </div>
                                <div style="height: auto;overflow: visible;">
                                    <span class="event-title">EVENT</span>
                                    <span class="event-name">Nike Gyakusou FW20 in the X Atrium</span>
                                    <span class="event-date">9/25</span>
                                </div>
                            </div>
                        </div>
                        <div v-else @mouseover="showArrow()" @mouseout="hideArrow()">
                            <div class="section2-item">
                                <div class="event-img-contain">
                                    <img class="event-img" src="image/demoimg/event_demo.png" alt="event">
                                </div>
                                <span class="event-title">EVENT</span>
                                <span class="event-name">Nike Gyakusou FW20 in the X Atrium</span>
                                <span class="event-date">9/25</span>
                            </div>
                            <div class="section2-item">
                                <div class="news-img-contain">
                                    <img class="news-img" src="image/demoimg/news_demo.png" alt="event">
                                </div>
                                <span class="event-title">NEWS</span>
                                <span class="event-name">LA favorites Eggslut, Local Pho to join Market vendors</span>
                                <span class="event-date">9/24</span>
                            </div>
                            <div class="section2-item">
                                <div class="news-img-contain">
                                    <img class="news-img" src="image/demoimg/news_demo2.png" alt="event">
                                </div>
                                <span class="event-title">FOOD</span>
                                <span class="event-name">El Tiempo releases summer drink menu</span>
                                <span class="event-date">9/23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section2-contain" :class="{section2ContainPhone:isPhone}">
                        <div v-if="isPhone || isPhoneLandscape">
                            <div class="section2-item-phone">
                                <div class="event-img-contain">
                                    <img class="event-img" src="image/demoimg/news_demo.png" alt="event">
                                </div>
                                <div>
                                    <span class="event-title">NEWS</span>
                                    <span class="event-name">LA favorites Eggslut, Local Pho to join Market vendors</span>
                                    <span class="event-date">9/24</span>
                                </div>
                            </div>
                        </div>
                        <div v-else @mouseover="showArrow()" @mouseout="hideArrow()">
                            <div class="section2-item">
                                <div class="event-img-contain">
                                    <img class="event-img" src="image/demoimg/event_demo.png" alt="event">
                                </div>
                                <span class="event-title">EVENT</span>
                                <span class="event-name">Nike Gyakusou FW20 in the X Atrium</span>
                                <span class="event-date">9/25</span>
                            </div>
                            <div class="section2-item">
                                <div class="news-img-contain">
                                    <img class="news-img" src="image/demoimg/news_demo.png" alt="event">
                                </div>
                                <span class="event-title">NEWS</span>
                                <span class="event-name">LA favorites Eggslut, Local Pho to join Market vendors</span>
                                <span class="event-date">9/24</span>
                            </div>
                            <div class="section2-item">
                                <div class="news-img-contain">
                                    <img class="news-img" src="image/demoimg/news_demo2.png" alt="event">
                                </div>
                                <span class="event-title">FOOD</span>
                                <span class="event-name">El Tiempo releases summer drink menu</span>
                                <span class="event-date">9/23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-img-contain">
                    <div class="section2-contain" :class="{section2ContainPhone:isPhone}">
                        <div v-if="isPhone || isPhoneLandscape">
                            <div class="section2-item-phone">
                                <div class="event-img-contain">
                                    <img class="event-img" src="image/demoimg/news_demo2.png" alt="event">
                                </div>
                                <div>
                                    <span class="event-title">FOOD</span>
                                    <span class="event-name">El Tiempo releases summer drink menu</span>
                                    <span class="event-date">9/23</span>
                                </div>
                            </div>
                        </div>
                        <div v-else @mouseover="showArrow()" @mouseout="hideArrow()">
                            <div class="section2-item">
                                <div class="event-img-contain">
                                    <img class="event-img" src="image/demoimg/event_demo.png" alt="event">
                                </div>
                                <span class="event-title">EVENT</span>
                                <span class="event-name">Nike Gyakusou FW20 in the X Atrium</span>
                                <span class="event-date">9/25</span>
                            </div>
                            <div class="section2-item">
                                <div class="news-img-contain">
                                    <img class="news-img" src="image/demoimg/news_demo.png" alt="event">
                                </div>
                                <span class="event-title">NEWS</span>
                                <span class="event-name">LA favorites Eggslut, Local Pho to join Market vendors</span>
                                <span class="event-date">9/24</span>
                            </div>
                            <div class="section2-item">
                                <div class="news-img-contain">
                                    <img class="news-img" src="image/demoimg/news_demo2.png" alt="event">
                                </div>
                                <span class="event-title">FOOD</span>
                                <span class="event-name">El Tiempo releases summer drink menu</span>
                                <span class="event-date">9/23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(0)"></div>
                <div class="next" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(1)"></div>
            </div>

            <!--section3-->
            <div class="section" id="section3">
                <div class="section3-contain">
                    <div class="slide active slide-img-contain">
                        <!--layout1-->
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="layout1">
                            <img class="slide-img" src="image/demoimg/image_03.jpg" alt="">
                            <p class="layout1-title">Adaptive reuse of the historic Barbara Jordan Post Office.</p>
                        </div>
                        <footer-component v-bind:is-mobile="isMobile" v-if="!isPhone && !isPhoneLandscape"></footer-component>
                    </div>
                    <div v-if="!isMobile" class="slide slide-img-contain">
                        <!--layout2-->
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="layout2">
                            <p class="layout2-title">Adaptive reuse of the historic Barbara Jordan Post Office.</p>
                            <img class="slide-img" src="image/demoimg/image_04.jpg" alt="">
                        </div>
                        <footer-component v-if="!isPhone && !isPhoneLandscape"></footer-component>
                    </div>
                    <div v-if="!isMobile" class="slide slide-img-contain">
                        <!--layout2-->
                        <div @mouseover="showArrow()" @mouseout="hideArrow()" class="layout2">
                            <p class="layout2-title">Adaptive reuse of the historic Barbara Jordan Post Office.</p>
                            <img class="slide-img" src="image/demoimg/image_04.jpg" alt="">
                        </div>
                        <footer-component v-if="!isPhone && !isPhoneLandscape"></footer-component>
                    </div>
                </div>
                <div class="pre" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(0)"></div>
                <div class="next" @mouseover="showArrow()" @mouseout="showArrow()" @click="swipeSlide(1)"></div>
            </div>

            <div class="section" id="section4">
                <footer-component v-bind:is-mobile="isMobile"></footer-component>
            </div>
        </div>
    </div>

    <!--side bar-->
    <transition>
        <div v-if="showSideBar" class="sidebar-contain">
            <div class="sidebar-space" @click="changeSideBarStatus()"></div>
            <div class="sidebar">
                <div class="close-side-contain" @click="changeSideBarStatus()">
                    <img src="image/icons/close.svg" alt="close" class="close-side">
                </div>
                <div class="nav-item">
                    <div class="nav-title">POST</div>
                    <div>
                        <ul class="nav-list">
                            <li>SHOP</li>
                            <li>MARKET</li>
                            <li>WORK</li>
                            <li>FARM</li>
                            <li>MUSIC</li>
                        </ul>
                    </div>
                </div>
                <!--<div class="nav-item">-->
                <!--<div class="nav-title">WHAT'S NEW</div>-->
                <!--<div>-->
                <!--<ul class="nav-list">-->
                <!--<li>PRESS</li>-->
                <!--<li>EVENTS</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <div class="nav-item">
                    <div class="nav-title">LEASING</div>
                    <div>
                        <ul class="nav-list">
                            <li>RENTALS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <!--mail contain-->
    <transition>
        <div v-if="showMailDialog" class="sidebar-contain">
            <div class="mail-contain">
                <div class="close-side-contain" @click="changeSideBarStatus('mail')">
                    <img src="image/icons/close.svg" alt="close" class="close-mail">
                </div>
                <div style="border-bottom: solid 2px #fff;margin-top: 58px;">
                    <input class="email-input" type="text" v-model="email" placeholder="email">
                </div>
                <button class="submit-btn" @click="submitEmail()">submit</button>
            </div>
        </div>
    </transition>
    <!--footer component-->
    <template id="footerComponent">
        <div class="footer">
            <div class="footer-column">
                <span>© 2020 Lovett Commercial, All Rights Reserved</span>
            </div>
            <div class="footer-column site-map">
                <span>SITE MAP</span>
                <span class="mt40 footer-link">About</span>
                <span class="footer-link">POST</span>
                <span class="footer-link">Market</span>
                <span class="footer-link">Music</span>
                <span class="footer-link">Farm</span>
                <span class="mt40">What`s New</span>
                <span class="footer-link">Press</span>
                <span class="footer-link">Events</span>
                <span class="mt40">Leasing</span>
                <span class="footer-link">Rental</span>
            </div>
            <div class="footer-column">
                <span>CONTACT</span>
                <span class="mt40">401 Franklin St Houston, TX 77201 hello@posthtx.com 713 978 3433</span>
            </div>
            <div class="footer-column">
                <span>CONNECT</span>
                <span class="mt40">
                            <a title="Facebook" href="https://www.facebook.com/posthouston/" target="_blank"
                               rel="noopener" data-mce-href="https://www.facebook.com/posthouston/">Facebook</a>
                        </span>
                <span>
                            <a title="Instagram" href="https://www.instagram.com/posthtx/" target="_blank"
                               rel="noopener" data-mce-href="https://www.instagram.com/posthtx/">Instagram</a>
                        </span>
            </div>
            <div class="footer-column-lg">
                <span>SUBSCRIBE</span>
                <span class="mt40">Sign up for our newsletter. We promise not to spam.</span>
                <div class="mt40 footer-link email" :class="{footerSignup:isMobile}" @click="changeSideBarStatus('mail')">
                    <span v-if="!isMobile">email here</span>
                    <span v-else>sign up</span>
                    <img src="image/icons/right.svg" alt="click" style="width: 36px;">
                </div>
            </div>
        </div>
    </template>
    <div id="loginComponent" v-if="!isLogin">
        <div class="login-contain">
            <div>
                <div>
                    <span class="login-title">user name</span>
                    <input type="text" v-model="userName">
                </div>
                <div>
                    <span class="login-title">password</span>
                    <input type="password" v-model="password">
                </div>
            </div>
            <button class="login-btn" @click="login()">Login</button>
        </div>
    </div>
</div>


<script src="js/fullpage.js"></script>
<script type="text/javascript">
    Vue.component('footer-component', {
        template: '#footerComponent',
        props: ['isMobile'],
        methods: {
            changeSideBarStatus(param) {
                this.$parent.changeSideBarStatus(param);
            }
        }
    });


    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            showSideBar: false,
            isMobile: false,//is mobile or web
            showMailDialog: false,
            isBottom: false,
            isPortrait: true,//is portrait or not
            isPhone: false,//is phone device or not
            isPhoneLandscape: false,
            userName:'',
            password:'',
            isLogin:false,
            sectionIndex: 0,
            email: '',
            pres: null,
            nexts: null
        },
        methods: {
            showArrow() {
                if (this.pres == null) {
                    this.pres = document.getElementsByClassName("pre");
                    this.nexts = document.getElementsByClassName("next");
                }

                for (let pre of this.pres) {
                    pre.style.display = 'block';
                }

                for (let next of this.nexts) {
                    next.style.display = 'block';
                }
            },
            hideArrow(){
                if (this.pres == null) {
                    this.pres = document.getElementsByClassName("pre");
                    this.nexts = document.getElementsByClassName("next");
                }

                for (let pre of this.pres) {
                    pre.style.display = 'none';
                }

                for (let next of this.nexts) {
                    next.style.display = 'none';
                }
            },
            swipeSlide(param){
                if(param===0){
                    fullpage_api.moveSlideLeft();
                }else{
                    fullpage_api.moveSlideRight();
                }
            },
            changeSideBarStatus(param) {
                // fullpage_api.moveSlideRight();
                if (param === 'mail') {
                    this.email = '';
                    this.showMailDialog = !this.showMailDialog;
                } else {
                    this.showSideBar = !this.showSideBar;
                }
            },
            _isMobile() {
                let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
                return flag;
            },
            submitEmail() {
                if (this.email.match(/@/ig)) {
                    this.showMailDialog = false;
                    console.log(this.email);
                } else {
                    console.log('email is invalid');
                }
            },
            login() {
                let that = this;
                if(true){// if(this.userName!='' && this.password!=''){
                    axios.post('https://admin.posthtx.com/admin/auth/local', {
                        identifier: that.userName,//'posthtx',
                        password: that.password,//'JMAt2Oiv@%8lPX&B',
                        rememberMe: true
                    })
                        .then(function (res) {
                            if(res.status===200){
                                that.isLogin = true;
                            }
                            console.log(that.isLogin);
                            console.log(res);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        },
        beforeMount: function () {
            if (this._isMobile()) {
                this.isMobile = true;
                let width = document.documentElement.clientWidth;
                let height = document.documentElement.clientHeight;

                this.isPortrait = width <= height;

                if (this.isPortrait && width <= 450) {
                    this.isPhone = true;
                }

                if (!this.isPortrait && height <= 450) {
                    this.isPhoneLandscape = true;
                }
            } else {

            }
        },
        mounted: function () {
            let _this = this;

            //initial full page object
            let myFullpage = new fullpage('#fullpage', {
                slidesNavigation: true,
                scrollOverflow: true,
                autoScrolling: true,
                fitToSection: true,
                normalScrollElements: '.sidebar',
                onLeave: function (origin, destination, direction) {
                    _this.isBottom = destination.index === 1;
                    _this.sectionIndex = destination.index;

                    if(destination.index === 3){
                        setTimeout(function () {
                            $(window).bind('mousewheel', function(e){
                                $('.fp-slidesNav').hide();
                                // if(e.originalEvent.wheelDelta /120 > 0) {
                                //     console.log('scrolling up');
                                // }
                                // else{
                                //     console.log('scrolling down');
                                // }
                            });
                        },500)
                    }else{
                        $(window).unbind('mousewheel');
                        $('.fp-slidesNav').show();
                    }
                },
            });

            window.onresize = function temp() {
                location.reload();
            };
        }
    })
</script>
</body>
</html>